extends layout
 
block content
 h1= title
 - const image_names = ['/blackPanther.jpg', '/capMarvel.jpg', '/loki.jpg','/scarlet.jpg', '/thor.jpg']
 for _ in [1, 2, 3]
  - const randomIndex = Math.floor(Math.random() * 5)
  img(src=`/images/${image_names[randomIndex]}`, alt=image_names[randomIndex], height='300', width='300')